In [1]:
import requests
import os
import yaml
os.chdir('../')

In [2]:
import pandas as pd
import numpy as np

In [3]:
from cloudant.view import View
from cloudant.client import Cloudant
from cloudant.document import Document

In [4]:
def unfold_keys(df):
    df = df.copy()
    key_column = 'key'
    for i in range(0, len(df.loc[0,key_column])):
        df.insert(i, 'level_{}'.format(i+1), df[key_column].apply(lambda x: x[i]))
    del df[key_column]
    return df

In [5]:
with open("config.yaml", 'r') as ymlfile:
    cfg = yaml.load(ymlfile)

In [6]:
cfg = cfg['COUCHDB']
client = Cloudant(cfg['user'], cfg['password'], url=cfg['host'])
client.connect()
db = client[cfg['tweets_db']]
ddoc = Document(db, '_design/sentiment_analysis')

In [7]:
view = View(ddoc, 'geo_sentiment_counts', )
with view.custom_result(group=True, stale='update_after', descending=True) as rslt:
    df = pd.DataFrame.from_records(rslt.all())

In [8]:
df['value'].sum()

104821

In [9]:
df.sort_values('value', ascending=False).head()

                                                   key  value
288                           [None, None, None, None]  22576
285                       [None, None, None, Positive]   7326
286                        [None, None, None, Neutral]   6622
28   [Sydney - South West, Greater Sydney, New Sout...   6361
160  [Melbourne - Inner South, Greater Melbourne, V...   6123

In [10]:
geo_sentiment_columns = ['sentiment', 'sa4_area', 'gccsa_area', 'state', 'tweets_count']
data_df = unfold_keys(df)
data_df.columns = geo_sentiment_columns
data_df_df.sort_values('tweets_count', ascending=False, inplace=True)

NameError: name 'data_df_df' is not defined

In [ ]:
data_df.set_index(geo_sentiment_columns[:-1])

In [ ]:
#data_df.head()